<div class="row">
<div class="col-xs-1"><%= answer.escape('sumVotes') %></div>
  
<div class="col-xs-11">  
<h4><a href="/#/questions/<%= answer.get('question_id') %>" class="menuLink"><%= answer.escape('body') %></a></h4>

<p>asked by <a href="/#/users/<%= answer.get('user_id') %>"><%= username %></a> at <%= answer.get('created_at') %></p>
</div>

</div>